name: docker-github

on:
  push:

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - name: Publish Image
        uses: matootie/github-docker@v3.0.0
        with:
          accessToken: ${{ github.token }}
